<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-exp.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-icons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Upload your dataset to datab.io</title>


  <style>
    h3 {
      margin-top: 64px;
    }
  </style>
</head>

<body class="container grid-sm">
  <div class="columns p-centered">
    <ul class="step">
        <li class="step-item active">
          <a href="/" class="tooltip tooltip-bottom" data-tooltip="Step 1">Upload Dataset</a>
        </li>
        <li class="step-item">
          <a href="/report" class="tooltip tooltip-bottom" data-tooltip="Step 2">Select Mappings</a>
        </li>
        <li class="step-item">
          <a href="/ready" class="tooltip tooltip-bottom" data-tooltip="Step 3">Download</a>
        </li>
      </ul>


      <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="col-3 col-sm-12">
            <label class="form-label" for="data-file">Data File</label>
          </div>
          <div class="col-9 col-sm-12">
            <input class="form-input" id="data-file" name="data" type="file">
          </div>
        </div>
        <div class="form-group">
          <div class="col-3 col-sm-12"></div>
          <div class="col-9 col-sm-12">
            <button type="submit" class="btn btn-primary">upload</button>
          </div>
        </div>
      </form>
  </div>
</body>

</html>
