<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-exp.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.8/spectre-icons.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Upload your dataset to datab.io</title>

  <style>
    h3 { margin-top: 64px; }
    footer {
      margin-top:100px;
      margin-bottom:20px;
      font-size: 12px;
      color: #999;
      margin-left: -.4rem;
      margin-right: -.4rem;
      padding: .5rem;
      text-align: justify;
    }
    footer a, footer a:visited {color:#555;}
  </style>
</head>

<body class="container grid-sm">
  <div class="columns p-centered">
      <div class="hero hero-sm bg-gray">
          <div class="hero-body">
            <h1>Datab.io - Automated data integration tools</h1>
            <p>A simple Gene ID mapping service for Bioinformatics.
              Upload a gene-oriented data set, we'll automatically
              detect the identifiers in use, and offer to convert
              them to match other providers in just a few clicks.</p>
          </div>
        </div>

        <br />
        <br />
        <br />

    <ul class="step">
        <li class="step-item active">
          <a href="/" class="tooltip tooltip-bottom" data-tooltip="Step 1">Upload Dataset</a>
        </li>
        <li class="step-item">
          <a href="/report" class="tooltip tooltip-bottom" data-tooltip="Step 2">Select Mappings</a>
        </li>
        <li class="step-item">
          <a href="/ready" class="tooltip tooltip-bottom" data-tooltip="Step 3">Download</a>
        </li>
      </ul>

      <br />
      <br />

      <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="col-12">
            <label id="select-file-button" class="form-label btn btn-primary btn-lg" for="data-file">Select a Data File to Upload</label>
          </div>
          <div style="display: none;">
            <input id="data-file" name="data" type="file">
          </div>
        </div>
        <div class="form-group">
          <div class="col-12">
            <button type="submit" id="upload-file-button" class="btn disabled btn-secondary btn-block">Upload</button>
          </div>
        </div>
       <br/>
       <div style="text-align:center;font-size:0.6rem;"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5034897/#SMtitle" target="_blank">Download an example file</a> used for the vignette in our publication.</div>
        <script>
        $(document).ready(function(){
          $("#upload-file-button").click(function(e){
            $("#upload-file-button").addClass("loading");
          });

          $("#data-file").change(function(e){
            var fn = $("#data-file").val().split(/(\\|\/)/g).pop();

            $("#select-file-button").removeClass("btn-primary").addClass("btn-secondary");
            $("#upload-file-button").text("Upload "+fn).removeClass("disabled btn-secondary").addClass("btn-primary");
            //$("form").submit();
          });
        });
        </script>
      </form>

      <hr style="border:0; border-top: 2px solid #eee;margin:40px;">

      <b style="color:#555;">News and Updates</b>
      <br/>
      <p>We are so thankful to have received a <a href="https://ncbiotech.org">NC Biotechnology Center</a> Flash Grant to
      support this project, helping us to expand computational capacity and data set coverage.
      <span style="color:#ccc;float:right;">Jun 2021</span></p>
      <br/>
      <p>We have now been <a
href="https://bmcresnotes.biomedcentral.com/articles/10.1186/s13104-020-05038-w">published</a>, and continue to
improve performance behind the scenes! We are working towards new features and additional datasets for more comprehensive
identification and mapping. <span style="color:#ccc;float:right;">Apr 2020</span></p>

      <p>Read more about this project in our <a
href="https://doi.org/10.1101/768077">bioRxiv preprint</a>, and watch this
space for news as we add more features and updates! <span style="color:#ccc;float:right;">Sep 2019</span></p>

  </div>

  <footer>
    A project from the <a href="https://joiningdata.com">Joining Data Lab</a> in the
    <a href="https://bioinformatics.uncc.edu/">Department of Bioinformatics and Genomics</a>
    at the <a href="https://uncc.edu">University of North Carolina at Charlotte</a>.

    <a href="mailto:jeremy.jay@uncc.edu">Contact Dr. Jeremy Jay</a> with any comments, questions, or collaborations!
  </footer>
</body>
</html>
